@import "../../scss/variable";

body {
	font-family: $font-family;
	font-size: $normal-font-size;
	background-color: $very-dark-blue-color;
	color: $white-color;
	min-height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}
